.option {
    color: #F0F0F4;
    padding: 12.5px 18.75px;
    border-bottom: 1px solid #1E1E21;
    box-shadow: 0 8px 18px -10px #1E1E21;
    position: absolute;
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(32 32 35);;
}